# GitHub Actions Virtual Environments
# https://github.com/actions/virtual-environments/

name: CI

on:
  workflow_dispatch:

  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  PROJECT: Foil.xcodeproj
  SCHEME: Foil

  EXAMPLE_PROJECT: Example/ExampleApp.xcodeproj
  EXAMPLE_SCHEME: ExampleApp

  DEVELOPER_DIR: /Applications/Xcode_15.4.app/Contents/Developer

  IOS_DEST: "platform=iOS Simulator,name=iPhone 15,OS=latest"
  TVOS_DEST: "platform=tvOS Simulator,name=Apple TV,OS=latest"
  WATCHOS_DEST: "platform=watchOS Simulator,name=Apple Watch Series 9 (41mm),OS=latest"
  VISIONOS_DEST: "platform=visionOS Simulator,name=Apple Vision Pro,OS=latest"
  MACOS_DEST: "platform=macOS,arch=x86_64"

jobs:
  env-details:
    name: Environment details
    runs-on: macos-14
    steps:
      - name: xcode version
        run: xcodebuild -version -sdk

      - name: list simulators
        run: |
          xcrun simctl delete unavailable
          xcrun simctl list

  test-iOS:
    name: iOS unit test
    runs-on: macos-14
    steps:
      - name: git checkout
        uses: actions/checkout@v4

      - name: unit tests
        run: |
          set -o pipefail
          xcodebuild clean test \
              -project "$PROJECT" \
              -scheme "$SCHEME" \
              -destination "$IOS_DEST" \
              CODE_SIGN_IDENTITY="-" | xcpretty -c

  test-tvOS:
    name: tvOS unit test
    runs-on: macos-14
    steps:
      - name: git checkout
        uses: actions/checkout@v4

      - name: unit tests
        run: |
          set -o pipefail
          xcodebuild clean test \
              -project "$PROJECT" \
              -scheme "$SCHEME" \
              -destination "$TVOS_DEST" \
              CODE_SIGN_IDENTITY="-" | xcpretty -c

  test-watchOS:
    name: watchOS unit test
    runs-on: macos-14
    steps:
      - name: git checkout
        uses: actions/checkout@v4

      - name: test
        run: |
          set -o pipefail
          xcodebuild clean test \
              -project "$PROJECT" \
              -scheme "$SCHEME" \
              -destination "$WATCHOS_DEST" \
              CODE_SIGN_IDENTITY="-" | xcpretty -c

  test-visionOS:
    name: visionOS unit test
    runs-on: macos-14
    steps:
      - name: git checkout
        uses: actions/checkout@v4

      - name: test
        run: |
          set -o pipefail
          xcodebuild clean test \
              -project "$PROJECT" \
              -scheme "$SCHEME" \
              -destination "$VISIONOS_DEST" \
              CODE_SIGN_IDENTITY="-" | xcpretty -c

  test-macOS:
    name: macOS unit test
    runs-on: macos-14
    steps:
      - name: git checkout
        uses: actions/checkout@v4

      - name: unit tests
        run: |
          set -o pipefail
          xcodebuild clean test \
              -project "$PROJECT" \
              -scheme "$SCHEME" \
              -destination "$MACOS_DEST" \
              CODE_SIGN_IDENTITY="-" | xcpretty -c

  build-example:
    name: build example project
    runs-on: macos-14
    steps:
      - name: git checkout
        uses: actions/checkout@v4

      - name: build
        run: |
          set -o pipefail
          xcodebuild clean build \
              -project "$EXAMPLE_PROJECT" \
              -scheme "$EXAMPLE_SCHEME" \
              -destination "$IOS_DEST" \
              CODE_SIGN_IDENTITY="-" | xcpretty -c
